@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Monstserrat', sans-serif;
}
a{
    text-decoration: none;
}
.nav{
    overflow: hidden;
    background: #001010;
    width: 100%;
}
.nav a{
    float:right;
    color: rgb(243, 210, 210);
    text-align: center;
    padding: 25px;
    font-size: 2opx;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.nav a{
    list-style-type: none;
    text-size-adjust: 2rem;
    display: inline-block;
    transition: 0.8s all;
}
.nav a:hover{
    background: rgb(236, 59, 59)
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Card{
    background-image: url("evee.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#Card::after{
    content:  '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
#Card .Card{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#Card h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#Card h1:nth-child(1){
    animation-delay: 1s;
}
#Card h1:nth-child(2){
    animation-delay: 2s;
}
#Card h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#Card h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#Card h1:nth-child(1)span{
    animation-delay: .5s;
}
#Card h1:nth-child(2)span{
    animation-delay: 1.5s;
}
#Card h1:nth-child(3)span{
    animation-delay: 2.5s;
}
#Card .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(255, 0, 0);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#Card .cta:hover{
    color: white;
    background-color: crimson;
}
#about{
    background-image: url("evee.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#about .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(235, 64, 64);
    background-color: transparent;
    border: 2px solid rgb(255, 0, 0);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#about .cta:hover{
    color: rgb(250, 247, 247);
    background-color: crimson;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h1{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .5rem;
    margin-bottom: 10px;
}
#about .col-right p{
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
#about .col-right.cta{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -50px;
    top: 10px;
    height: 91%;
    width: 90%;
    border: 7px solid crimson;
    z-index: -1;
}
#about img{
    width: 100%;
    height: 50;
}
#Contact .Contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#Contact .contact-item{
    width: 100%;
}
#Contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0 black ;
}    
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }    
}
@keyframes text_reveal_name{
    100%{
        color: white;
        font-weight: 500;
    }
}
