*{
    padding: 5;
    margin: 20;
    box-sizing: border-box;
}
img{
    width: 16%;
    height: 25%;
    transition: all;
}
#card{
    background-image: url("evee.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}